<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/ mybatis-3-mapper.dtd">
<mapper namespace="Objective">
	<!-- <insert id="createProject">
		insert into BOARD (category, title, writer, content) values
		(#{category} , #{title} , #{writer} , #{content})
	</insert> -->
	<insert id="addObjective">
		insert into TM_objectives (projectId, otitle, label, assignee) values (#{projectId}, #{otitle}, #{label}, #{assignee})
	</insert>
	<select id="getObjectProjID" resultType="objective">
		select * from TM_objectives where projectId=#{projectID}
	</select>
</mapper>