<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/ mybatis-3-mapper.dtd">
<mapper namespace="Project">
	<insert id="createProject">
		insert into TM_projects (projectID, title, owner) values
		(#{projectId} , #{title} , #{owner})
	</insert>
	<!-- 
	<update id="updateProject">
		update TM_Project
		set title=#{title}, owner=#{owner} where projectID=#{projectId}
  	</update>
  	-->
	<delete id="deleteProject">
		delete from TM_projects where projectId=#{projectID}
	</delete>
	<select id="getProject" resultType="project">
		select * from TM_projects where projectId=#{projectID}
	</select>
</mapper>