<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="board" type="io.github.junglesub.board.BoardVO" />
		<typeAlias alias="project" type="io.github.junglesub.project.ProjectVO" />
		<typeAlias alias="objective" type="io.github.junglesub.objective.ObjectiveVO" />
		<typeAlias alias="keyresult" type="io.github.junglesub.keyresult.KeyResultVO" />
	</typeAliases>
</configuration>